body {
	font-family: "微软雅黑";
}

.mui-bar-nav {
	background-color: darkcyan;
}

.bar-nav h1 {
	color: white;
}

.bar-nav p {
	color: white;
	margin: 3%;
}

.nav-back {
	color: white;
}

.nav-back:active {
	color: white;
}

.mui-content .mui-input-row input {
	font-family: "微软雅黑";
	border: none;
	margin: 0;
}

.mui-content .limit-length {
	color: darkcyan;
	float: right;
	margin-right: 5%;
}
