body {
	font-family: "微软雅黑";
	overflow: hidden;
}

.bar-nav {
	background-color: darkcyan;
}

.bar-nav h1 {
	color: white;
}

.nav-back {
	color: white;
}

.mui-bar-nav {
	box-shadow: none;
}

.bar-nav a:active {
	color: white;
}

.bar-nav p {
	color: white;
	margin: 3%;
}

.mui-icon-more {
	color: white;
}

.playing-song {
	height: 10%;
	box-shadow: 0px 0 0px rgba(0, 0, 0, .5), 0px 0 0px rgba(0, 0, 0, .5);
}

.playing-song-cover {
	width: calc(5vw + 5vh);
	height: calc(5vw + 5vh);
	margin: 3%;
	border-radius: 50%;
	background-image: url('../resources/photo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

.playing-song h1 {
	width: 40%;
	margin-top: calc(1.8vw + 1.8vh);
	font-size: calc(1.5vw + 1.5vh);
	float: left;
}

.playing-song p {
	width: 40%;
	font-size: calc(1.25vw + 1.25vh);
	float: left;
	padding: 0;
}

.playing-button {
	width: 5vh;
	height: 5vh;
	margin: 5% 2%;
	border-radius: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	float: right;
}

.playing {
	background-image: url('../resources/play.png');
}

.music-queue {
	background-image: url('../resources/mus-queue.png');
	margin-right: 7%;
}

.mui-control-content {
	min-height: 90vh;
}
.mui-control-content .mui-loading {
	margin-top: 150px;
}

.song-control-bar img {
	width: 100%;
}


.search-history-list {
	margin-bottom: 5%;
}

.sort-icon {
	color: gray;
	float: right;
}

.mui-table-view-cell {
	padding-left: 6%;
}

.mui-table-view-cell .song-name {
	width: 40%;
	font-size: 100%;
	font-weight: normal;
	float: left;
	margin: 4%;
}

.mui-table-view-cell a {
	float: right;
	color: darkgrey;
}

.mui-table-view-cell span {
	margin-top: 48%;
	color: black;
}

.mui-table-view-cell img {
	margin-top: 0.5%;
	border-radius: 50%;
}

.btn-follow {
	border: 1px solid darkcyan;
	width: 25%;
	color: darkcyan;
	float: right;
	margin-top: 2%;
}

.btn-follow:enabled:active,
.btn-follow.mui-active:enabled
{
    color: #fff;
    border: 1px solid #fff;
    background-color: darkcyan;
}

.mui-btn-outlined.mui-btn-success
{
    color: darkcyan;
}