html {
	height: 100%;
}

body {
	font-family: "微软雅黑";
	font-size: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

/* 选项卡 */
#bar-nav {
	color: white;
	opacity: 100%;
	background-color: darkcyan;
	box-shadow: none;
}

#bar-nav > * {
	color: white;
}

#bar-nav > *:active {
	color: white;
}

.nav-link {
	font-size: 20px;
	margin: 0 10px;
}

.nav-link-active {
	margin: 0 20px;
	font-size: 24px;
}

/* 主体部分 */
iframe {
	width: 100%;
	margin-top: 44px;
	height: calc(100% - 44px);
	border: 0;
}