html {
	height: 100%;
}

body {
	font-size: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	overflow: hidden;
	cursor: default;
}

/* 搜索框 */
#search-box {
	height: 55px;
	background-color: darkcyan;
}

#search-box > div {
	background-color: rgb(30, 100, 100);
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 10px;
	border-radius: 2px;
}

#search-box span {
	font-size: 18px;
	color: white;
}

/* 用户信息框 */
#personal-card {
	display: flex;
	height: 70px;
	margin-top: -15px;
	justify-content: center;
	align-items: center;
}

#user-photo {
	width: 50px;
	height: 50px;
	background-image: url('../resources/photo.jpg');
	background-size: 100%;
	border-radius: 50%;
}

#user-name {
	color: black;
	font-size: 20px;
	margin-left:10px;
	margin-bottom: 0;
}


/* 歌单列表-标题 */
#list-title {
	text-align: center;
	height: 50px;
	margin: 0 10px;
	padding: 0;
	border-radius: 0;
	border-bottom: solid rgb(187, 187, 187) 1px;
	background-color: white;
}

#list-title div {
	padding: 0;
	height: 50px;
	line-height: 50px;
}

#list-title p {
	color: black;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	cursor: default;
}

#list-title span {
	padding: 0 5px;
	font-size: 14px;
	color: darkgray;
}

#list-title span:not(.listClass-active) {
	cursor: pointer;
}

#list-title .listClass-active {
	font-size: 18px;
	color: black;
}

.listClass-active::before {
	content: '> ';
}

.listClass-active::after {
	content: ' <';
}

/* 列表-主体 */
#scroll-lists {
	top: 300px;
	height: calc(100% - 300px);
	left: 10px;
	width: calc(100% - 20px);
}

.song-list-cell {
	font-size: 18px;
	text-overflow: ellipsis;
}

.song-list-cell div {
	text-overflow: ellipsis;
	padding-right: 20px;
}

/* 三个关键列表 */
.main-list-card {
	height: 120px;
	margin: 10px;
	box-shadow: none;
	padding: 10px 0;
}

.main-list-menu {
	display: flex;
	height: 10px;
	padding: 10px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.main-list {
	height: 100%;
	width: 33.3%;
	text-align: center;
	margin: 0;
	font-size: 14px;
	cursor: pointer;
}

.main-list-icon {
	height: 40px;
}

.song-number {
	margin: 0;
}
