html {
	height: 100%;
}

body {
	font-family: "微软雅黑";
	font-size: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

/* 侧滑菜单 */
.aside-list {
	font-size: 18px;
}

#user-photo {
    width: 60px;
    height: 60px;
    background-image: url('../resources/llmusic.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#logout-control {
	display: none;
	width: 100%;
	padding: 20px 0;
}

#logout-control > div {
	margin: 15px auto;
	color: white;
	font-size: 20px;
	text-align: center;
}

#logout-button {
	width: 100px;
	height: 39px;
	margin: 15px auto;
	display: block;
	font-size: 18px;
	color: white;
	border-color: darkcyan;
	background-color: darkcyan;
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center;
}

/* 选项卡 */
#bar-nav {
	color: white;
	opacity: 100%;
	background-color: darkcyan;
	box-shadow: none;
}

#bar-nav > * {
	color: white;
}

#bar-nav > *:active {
	color: white;
}

.nav-link {
	font-size: 20px;
	margin: 0 10px;
}

.nav-link-active {
	margin: 0 20px;
	font-size: 24px;
}

/* 主体部分 */
iframe {
	width: 100%;
	height: 100%;
	padding: 44px 0 100px 0;
	border: 0;
}