body {
	font-family: "微软雅黑";
	overflow: hidden;
}

.bar-nav {
	background-color: darkcyan;
}

.nav-back {
	color: white;
}

.bar-nav a:active {
	color: white;
}

.bar-nav h1 {
	color: white;
}

.bar-nav p {
	color: white;
	margin: 3%;
}

.mui-control-content {
	min-height: 600px;
}
.mui-control-content .mui-loading {
	margin-top: 50px;
}

.search-history-list {
	margin-bottom: 5%;
}

.sort-icon {
	color: gray;
	float: right;
}

.mui-table-view-cell {
	padding-left: 6%;
}

.mui-table-view-cell h1 {
	width: 50%;
	font-size: 100%;
	float: left;
	margin: 1%;
}

.mui-table-view-cell a {
	float: right;
	color: darkgrey;
}

.mui-table-view-cell p {
	width: 50%;
	font-size: 80%;
	float: left;
	margin: 1%;
}

.mui-table-view-cell span {
	margin-top: 48%;
}

.radio-style {
	float: left;
	width: 25px;
	height: 25px;
	margin: 3%;
	margin-left: 0;
	margin-right: 6%;
	border: 1px solid gray;
	border-radius: 50%;
}

.restyle-radio {
	display: none;
}

.restyle-radio + label {
	float: left;
	width: 25px;
	height: 25px;
	margin: 3%;
	margin-left: 0;
	margin-right: 6%;
	border: 1px solid gray;
	border-radius: 50%;
}

.restyle-radio:checked + label {
	float: left;
	width: 25px;
	height: 25px;
	margin: 3%;
	margin-left: 0;
	margin-right: 6%;
	border: 5px solid crimson;
	border-radius: 50%;
}

.mui-table-view-cell img {
	margin-top: 0.5%;
}
