#offCanvasWrapper {
	font-family: "微软雅黑";
}

.mui-off-canvas-left {
	color: #fff;
}

.title {
	margin: 35px 15px 10px;
}

.mui-inner-wrap a {
	color: white;
}

.mui-inner-wrap .bar-nav {
	background-color: darkcyan;
}

.mui-inner-wrap .bar-nav .nav-link {
	font-size: 120%;
	color: white;
	margin-left: 5%;
}

.mui-inner-wrap .bar-nav .mine {
	font-size: 140%;
}

.playing-song {
	height: 10%;
}

.playing-song-cover {
	width: calc(5vw + 5vh);
	height: calc(5vw + 5vh);
	margin: 3%;
	border-radius: 50%;
	background-image: url('../resources/photo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

.playing-song h1 {
	width: 40%;
	margin-top: calc(1.8vw + 1.8vh);
	font-size: calc(1.5vw + 1.5vh);
	float: left;
}

.playing-song p {
	width: 40%;
	font-size: calc(1.25vw + 1.25vh);
	float: left;
	padding: 0;
}

.playing-button {
	width: 5vh;
	height: 5vh;
	margin: 5% 2%;
	border-radius: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	float: right;
}

.playing {
	background-image: url(../resources/play.png);
}

.music-queue {
	background-image: url(../resources/mus-queue.png);
	margin-right: 7%;
}

.search-box {
	background-color: darkcyan;
	text-align: center;
	padding-bottom: 6%;
	margin-top: -1px;
}

.nav-search {
	background-color: rgb(30, 100, 100);
	color: white;
	width: 96%;
	border: hidden;
	font-size: 100%;
	margin-left: 2%;
	padding: 1%;
	border-radius: 2px;
}

.search-icon:active {
	color: white;
}

.mui-content .personal-card {
	margin-top: -3%;
}

.personal-card-info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-photo {
	width: 5vh;
	height: 5vh;
	background-image: url('../resources/photo.jpg');
	background-size: 100%;
	border-radius: 50%;
}

.user-name {
	color: black;
	font-size: 125%;
	margin-left:10%;
	margin-bottom: 0;
}

.main-list-menu {
	width: 100%;
	overflow: hidden;
}

.main-list {
	width: 33.3%;
	float: left;
	text-align: center;
	margin: 0 auto;
	font-size: 110%;
}

.main-list-icon {
	width: 30%;
}

.song-number {
	margin: 0;
}

.song-list {
	width: 400px;
	height: 550px;
	border: 1px solid black;
}
