body {
	font-family: "微软雅黑";
	overflow: hidden;
}
			
.mui-control-content {
	min-height: 76vh;
}
.mui-control-content .mui-loading {
	margin-top: 50px;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: none;
}

.bar-nav {
	background-color: darkcyan;
}

.bar-nav .search-input {
	width: 80%;
	position: absolute;
	margin: 0.5% 10%;
}

.search-input input {
	background-color: white;
}

.nav-back {
	color: white;
}

.mui-title {
	width: 100%;
	color: white;
	font-size: 125%;
	margin-top: 3.5%;
	padding-right: 5%;
	text-align: center;
}

.playing-song {
	height: 10%;
	box-shadow: 0px 0 0px rgba(0, 0, 0, .5), 0px 0 0px rgba(0, 0, 0, .5);
}

.playing-song-cover {
	width: calc(5vw + 5vh);
	height: calc(5vw + 5vh);
	margin: 3%;
	border-radius: 50%;
	background-image: url('../resources/photo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

.playing-song h1 {
	width: 40%;
	margin-top: calc(1.8vw + 1.8vh);
	font-size: calc(1.5vw + 1.5vh);
	float: left;
}

.playing-song p {
	width: 40%;
	font-size: calc(1.25vw + 1.25vh);
	float: left;
	padding: 0;
}

.playing-button {
	width: 5vh;
	height: 5vh;
	margin: 5% 2%;
	border-radius: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	float: right;
}

.playing {
	background-image: url('../resources/play.png');
}

.music-queue {
	background-image: url('../resources/mus-queue.png');
	margin-right: 7%;
}

.mui-content {
	margin-top: 0%;
}

#sliderSegmentedControl a {
	color: darkcyan;
}

.change-color {
	color: darkcyan;
}

#sliderProgressBar {
	background-color: darkcyan;
}

.mui-icon-more {
	color: black;
}

.mui-table-view-cell h1 {
	width: 50%;
	font-size: 135%;
	float: left;
	margin: 1%;
}

.mui-table-view-cell a {
	float: right;
}

.mui-table-view-cell p {
	width: 50%;
	font-size: 110%;
	float: left;
	margin: 1%;
}

.mui-table-view-cell span {
	margin-top: 48%;
}

.single-item img {
	border-radius: 50%;
}

.single-item h1 {
	font-size: 100%;
}

.single-item p {
	font-size: 100%;
}

.btn-follow {
	border: 1px solid darkcyan;
	color: darkcyan;
}

.btn-follow:enabled:active,
.btn-follow.mui-active:enabled
{
    color: #fff;
    border: 1px solid #fff;
    background-color: darkcyan;
}

.mui-btn-outlined.mui-btn-success
{
    color: darkcyan;
}

/*
.singer-cover {
	width: calc(5vw + 5vh);
	height: calc(5vw + 5vh);
	border-radius: 50%;
	background-image: url('../resources/photo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	
	vertical-align: top;
}

.mui-table-view-cell .singer-name {
	width: 60%;
	margin-top: calc(1.8vw + 1.8vh);
	font-size: calc(1.5vw + 1.5vh);
	float: left;
	margin-top: 1.5%;
}

.mui-table-view-cell .song-number {
	width: 60%;
	font-size: calc(1.25vw + 1.25vh);
	float: left;
	padding: 0;
}
*/