body {
	font-family: "微软雅黑";
	overflow: hidden;
	background-color: white;
}

.mui-bar-nav {
	box-shadow: none;
	background-color: white;
}

.mui-bar-nav p {
	color: darkcyan;
	font-size: 100%;
	margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
}

.mui-content {
	background-color: white;
}

.app-title {
	display: flex;
	justify-content:center;
	height: 100px;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: calc(10vw + 10vh);
	margin-bottom: 5vh;
}

/* 标题 */
.app-title img {
	width: 100px;
	height: 100px;
}

.app-title p {
	font-size: 40px;
	font-weight: 100;
	color: darkcyan;
	line-height: 100px;
	padding: 0;
	margin: 0;
}

/* 输入区域 */
.mui-input-group .mui-btn-primary {
	width: 95%;
	background-color: darkcyan;
	border: 1px solid darkcyan;

	height: 33px;
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center;
}

.mui-btn-primary:enabled:active,
.mui-btn-primary.mui-active:enabled
{
    color: #fff;
    border: 1px solid #fff;
    background-color: darkcyan;
}

.mui-btn-outlined.mui-btn-primary
{
    color: darkcyan;
}

/* 蒙版 */
.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0,0,0,.3);
}