body {
	font-family: "微软雅黑";
	overflow: hidden;
}

.bar-nav {
	background-color: darkcyan;
}

.nav-back {
	color: white;
}

.bar-nav a:active {
	color: white;
}

.bar-nav h1 {
	color: white;
}

.bar-nav p {
	color: white;
	margin: 3%;
}

.mui-icon-more {
	color: white;
}

.playing-song {
	height: 10%;
	box-shadow: 0px 0 0px rgba(0, 0, 0, .5), 0px 0 0px rgba(0, 0, 0, .5);
}

.playing-song-cover {
	width: calc(5vw + 5vh);
	height: calc(5vw + 5vh);
	margin: 3%;
	border-radius: 50%;
	background-image: url('../resources/photo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
}

.playing-song h1 {
	width: 40%;
	margin-top: calc(1.8vw + 1.8vh);
	font-size: calc(1.5vw + 1.5vh);
	float: left;
}

.playing-song p {
	width: 40%;
	font-size: calc(1.25vw + 1.25vh);
	float: left;
	padding: 0;
}

.playing-button {
	width: 5vh;
	height: 5vh;
	margin: 5% 2%;
	border-radius: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	float: right;
}

.playing {
	background-image: url('../resources/play.png');
}

.music-queue {
	background-image: url('../resources/mus-queue.png');
	margin-right: 7%;
}

.mui-card {
	margin: 0;
	margin-bottom: 1px;
	box-shadow: none;
}

.song-list-intro {
	margin-bottom: -1px;
	overflow: hidden;
}

.song-list-intro .img-box {
	width: 30%;
	float: left;
	overflow: hidden;
	margin: 3%;
}

.song-list-intro .img-box img {
	width: 100%;
}

.song-list-intro h1 {
	width: 60%;
	font-size: 165%;
	float: left;
	margin-top: 3%;
}

.song-list-intro p {
	width: 60%;
	font-size: 120%;
	float: left;
	color: black;
}

.song-list-control .play-all {
	float: left;
	margin: 0;
	width: 25px;
	height: 25px;
	background-image: url(../resources/play.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.song-list-control p {
	float: left;
	color: black;
	font-size: 130%;
	margin-top: 2px;
	margin-left: 3%;
	font-weight: bold;
}

.song-list-control .control-bars {
	float: right;
	margin: 0;
	width: 20px;
	height: 20px;
	background-image: url(../resources/menu-darkcyan.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.mui-control-content {
	min-height: 415px;
}
.mui-control-content .mui-loading {
	margin-top: 150px;
}

.song-control-bar img {
	width: 100%;
}


.search-history-list {
	margin-bottom: 5%;
}

.sort-icon {
	color: gray;
	float: right;
}

.mui-table-view-cell {
	padding-left: 6%;
}

.mui-table-view-cell .song-num {
	float: left;
	font-size: 100%;
	margin-top: 5%;
	margin-right: 5%;
}

.mui-table-view-cell .song-name {
	width: 50%;
	font-size: 100%;
	float: left;
	margin: 1%;
}

.mui-table-view-cell a {
	float: right;
	color: darkgrey;
}

.mui-table-view-cell p {
	width: 50%;
	font-size: 80%;
	float: left;
	margin: 1%;
}

.mui-table-view-cell span {
	margin-top: 48%;
	color: black;
}

.mui-table-view-cell img {
	margin-top: 0.5%;
}